:root {
  --background: #fafafa;
  --border: #e6e1e1;
}

body {
  font-family: 'Roboto';
  font-size: 16px;
}

.text-element {
  background: transparent;
  border: none;
  color: rgb(60, 64, 67);
  font-family: inherit;
  overflow: auto hidden;
  padding: 0;
  resize: none;
  white-space: pre-wrap;
  width: 100%;
  min-height: 74px;
  height: 74px;
  font-size: 24px;
  line-height: 32px;
  outline: none;
}
