.layout {
  background: var(--background);
  display: grid;
  grid-template-rows: 64px 1fr 64px;
  gap: 68px;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 606px);
  align-items: center;
  width: 94%;
  height: 222px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0px 0px 5px 1px var(--border);
}
